<div class= "container align-self-center">
  <div class="titre m-3">
    <h2> <%= "#{@observation_planning.name} pour #{@observation_planning.user.first_name}" %></h2>
    <h3><%= "De #{@observation_planning.start_time.strftime("%H:%M")} à #{@observation_planning.end_time.strftime("%H:%M")}" %></h3>
  </div>
  <div class="sunmoon form-row d-flex mb-3">
    <%#display the image moonphasels.png in the folder db/images/sunmoon/%>
    <div class = "col-6">
      <%= image_tag "moonphasels.png", width: '90%', crop: :fill %>
    </div>
    <div class = "col-6">
      <%= image_tag "sunriseset.png", width: '100%', crop: :fill %>
    </div>
  </div>
  <h3> Proposition d'objets célestes à observer</h3>
  <div class="container">
    <%# Display all the celestial bodies of the observation planning%>
    <% heure_observation = @observation_planning.start_time %>
    <%# raise %>
    <% @observation_planning.celestial_bodies.each do |celestial_body| %>
      <div class="observation-plan-card form-row d-flex mb-4">
        <div class= "image col-4">
          <%= cl_image_tag celestial_body.photo.key %>
        </div>
        <div class="observation-plan-card-infos col-8">
          <h6><%= "#{celestial_body.name}" %></h6>
          <p><strong>Heure conseillée d'observation:</strong> <%= "#{(heure_observation + 15.minutes).strftime("%H:%M")}" %></p>
          <p><strong>Elévation:</strong> <%= @visible_objects.find {|f| f['messier'] == celestial_body.name}[:altitude] %></p>
          <p><strong>Orientation:</strong> <%= CelestialBody.orientation(@visible_objects.find {|f| f['messier'] == celestial_body.name}[:azimuth]) %></p>
          <%# <%= image_tag "target.png", width: '20', height: '20', crop: :fill %>
          <button class="btn-straight my-2">Pointer le télescope vers <%= "#{celestial_body.name}" %></button>
        </div>
        <% heure_observation += 15.minutes %>
      </div>
    <% end %>
  </div>
</div>
