<div class= "container fluid">
  <div class="titre m-3" >
    <h2 class="text-shadow" style="font-size: 2rem"> <%= "#{@observation_planning.name.upcase} POUR #{@observation_planning.user.first_name.upcase}" %></h2>
    <h3 class="text-shadow" style="font-size: 1.5rem"><%= "De #{@observation_planning.start_time.strftime("%H:%M")} à #{@observation_planning.end_time.strftime("%H:%M")}" %></h3>
  </div>
  <div class="sunmoon col-12 d-flex flex-row justify-content-center  mb-3">
    <%#display the image moonphasels.png in the folder db/images/sunmoon/%>
    <div class = "col-6 m-1 col-lg-5">
    <%= image_tag "moonphasels.png", class:'sunmoonimg' %>
    </div>
    <div class = "col-6 m-1 col-lg-5">
    <%= image_tag "sunriseset.png", class:'sunmoonimg' %>
    </div>
  </div>
  <div class="container fluid">
    <h2> Proposition d'objets célestes à observer</h2>
    <%# Display all the celestial bodies of the observation planning%>
    <% heure_observation = @observation_planning.start_time %>
    <%# raise %>
    <% @observation_planning.celestial_bodies.each do |celestial_body| %>
      <div class="observation-plan-card col-12 d-flex flex-row mb-4">
        <div class= "col-4 col-lg-4">
          <%= cl_image_tag celestial_body.photo.key, class:"image" %>
        </div>
        <div class="observation-plan-card-infos col-8 col-lg-8 ">
          <h3><%= "#{celestial_body.name}" %></h3>
          <div class="texte px-1">
            <p><strong>Heure conseillée d'observation:</strong> <%= "#{(heure_observation + 15.minutes).strftime("%H:%M")}" %></p>
            <div class="d-flex flex-row">
              <i class="fa-solid fa-arrow-up" ></i>
              <p><strong>Elévation:</strong> <%= @visible_objects.find {|f| f['messier'] == celestial_body.name}[:altitude] %></p>
            </div>
            <p><strong>Orientation:</strong> <%= CelestialBody.orientation(@visible_objects.find {|f| f['messier'] == celestial_body.name}[:azimuth]) %></p>
          </div>
          <div class="d-flex flex-row">
            <%= image_tag "target.png", width: '20', height: '20', crop: :fill, class:"target" %>
            <button class="btn-straight my-1 mx-auto">Pointer le télescope vers <%= "#{celestial_body.name}" %></button>
          </div>
        </div>
        <% heure_observation += 15.minutes %>
      </div>
    <% end %>
  </div>
</div>
