<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs devise-form">
    <%= f.input :email, required: true, autofocus: true %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :password,
                label: "Mot de passe",
                hint: "Laissez blanc si vous ne souhaitez pas le modifier",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label:"Confirmer votre mot de passe",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                label: "Mot de passe actuel",
                hint: "Nous avons besoin de votre mot de passe actuel pour confirmer le changement",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
<h3>Cancel my account</h3>
<div>Unhappy? <%= button_to "Effacer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
<%= link_to "Retour", :back %>
