<%# display 8 random celestial bodies from the database, with name, image, description%>
<div class="container-fluid background">
  <div class="container">
  <h2 class="text-shadow" style="color: white; font-size: 3rem">DECOUVERTES</h2>
  <p style="color:white"> Observez les astres qui vous entourent et découvrez les secrets de l'univers
    depuis chez vous. Galaxies, nébuleuses, planètes, nos télescopes vous permettent
    d'observer le ciel en couleur, même depuis la ville.
    Aucune connaissance préalable requise! Le télescope s'occupe de tout!
  </p>
  </div>

  <div class="container mt-3">
    <% @celestial_bodies.shuffle.take(8).each do |celestial_body| %>
      <div class="celestial-card">
        <div class="celestial-card-img">
          <%= cl_image_tag celestial_body.photo.key, width: '390', height: '200', crop: :fill %>
        </div>
        <div class="card-body">
          <h3 class="card-title" style="text-align: left"><strong><%= celestial_body.name %></strong></h3>
          <p class="card-text">Description: <%= celestial_body.description %></p>
          <%# <%= link_to "En savoir plus","#", class:"btn-straight"%>
        </div>
      </div>
      <br>
    <% end %>
    <div class="container mt-4 pb-4">
    <p style="color: white"> Vous souhaitez organiser une soirée mémorable? Entre amis, en famille ou en amoureux,
      nous vous proposons des soirées astronomiques sur mesure.</p>
    <p style="color: white">Réservez votre télescope et découvrez le ciel depuis chez vous!</p>
    <br>
    <%= link_to "Réservez", "#", class:"btn-straight"%>
    </div>
  </div>
</div>
