<div class="container-fluid mt-5">
  <h1 class="text-shadow" style="font-size: 2rem">CONFIRMER LA RESERVATION</h1>
  <h3>Vérifiez les informations de réservation avant de procéder au paiement</h3>
  <div class="checkout-card col-lg-10 mx-auto">
    <div class="row">
      <h2>Informations de facturation</h2>
      <div class="col-4">
        <p><strong>Nom:</strong></p>
      </div>
      <div class="col-8">
        <p><%= "#{current_user.first_name} #{current_user.last_name}" %> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <p><strong>Adresse:</strong></p>
      </div>
      <div class="col-8">
        <p> <%= "#{current_user.street} #{current_user.zip} #{current_user.city}"  %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <p><strong>Mail:</strong></p>
      </div>
      <div class="col-8">
        <p class=""> <%= current_user.email %></p>
      </div>
    </div>
  </div>
  <div>
    <div class="row checkout-card col-md-10 mx-auto">
      <h2>Détails de la réservation</h2>
      <% @booking.items.each do |item|%>
        <%= render "booking_options", item: %>
      <% end %>
      <div>
        <p style="text-align: right"><strong>Total <%= @booking.price %> CHF</strong></p>
      </div>
    </div>
    <div class="mb-4">
      <%= link_to "Procéder au paiement", paiement_path, class: "btn-straight"%>
    </div>
  </div>
</div>
