<div class="container mt-5">
  <div class="row text-center">
    <h1 class="text-shadow" style="text-align: center">CONFIRMER LA RESERVATION</h1>
    <h2>Vérifiez les informations de réservation avant de procéder au paiement</h2>
  </div>
  <div class="checkout-card">
    <div class="row">
      <h2>Informations de facturation</h2>
      <div class="col-6">
        <p><strong>Nom:</strong></p>
      </div>
      <div class="col-6">
        <p><%= "#{current_user.first_name} #{current_user.last_name}" %> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p><strong>Adresse:</strong></p>
      </div>
      <div class="col-6">
        <p> <%= "#{current_user.street} #{current_user.zip} #{current_user.city}"  %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p><strong>Mail:</strong></p>
      </div>
      <div class="col-6">
        <p> <%= current_user.email %></p>
      </div>
    </div>
  </div>
  <div>
    <div class="checkout-card">
      <h2>Détails de la réservation</h2>
      <% @booking.items.each do |item|%>
        <%= render "booking_options", item: %>
      <% end %>
      <div class="row">
        <p style="text-align: right"><strong>Total <%= @booking.price %> CHF</strong></p>
      </div>
    </div>
    <div>
      <%= link_to "Procéder au paiement", paiement_path, class: "btn btn-primary mt-2"%>
    </div>
  </div>
