<h1> Mes Réservations </h1>

<div class="row justify-content-center">
  <% @bookings.each do |booking| %>
    <%# display only the bookings for the current user if there is any bookings%>
    <% if booking.renter_id == current_user.id %>
      <div class="row">
        <div class="col-12 col-lg-6">
          <h3><%= booking.date %></h3>
          <%= booking.status %>
        </div>
          <p>Adresse: <%="#{booking.street} - #{booking.zip}#{booking.city}"%></p>
          <p>Vos options:
          <% booking.items.each do |item|%>
          <%= item.name%>
          <%= item.price%>
          <p>Total price: CHF <%= booking.price %>.-</p>
          <%# if rental status is pending, display Cancel booking%>
          <% if booking.status == "pending" %>
            <%= link_to "Cancel booking", booking_path(booking), data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-primary" %>
          <% end %>
        </div>
    <% else %>
      <p>You have no bookings</p>
    <% end %>
  <% end %>
</div>
