<div class="container-fluid">
  <div class="row mt-4 mb-4">
  <h2 class="text-shadow" style="font-size: 3rem"> MES RESERVATIONS </h2>
</div>
<div class="container justify-content-center">
  <% @bookings.each do |booking| %>
    <%# display only the bookings for the current user if there is any bookings%>
    <% if booking.user_id == current_user.id %>
      <div class="row checkout-card col-md-10 mx-auto">
        <div class= "card-booking-info">
          <div class="row">
            <div class="col-4">
              <p><strong>Date:</strong> <%= booking.date.strftime("%d.%m.%y") %></p>
            </div>
            <div class="col-8 text-end">
              <span class="card-booking-status">
                <% booking.status = :confirmé %>
                <%= booking.status %>
              </span>
            </div>
          </div>
          <p><strong>Adresse de livraison: </strong></p>
          <p><%="#{booking.street} - #{booking.zip} #{booking.city}"%></p>
          <p><strong>Vos options:</strong>
            <% booking.items.each do |item|%>
              <%= item.name%>
              <%= item.price%>
            <% end %>
            <p><strong>Prix total:</strong> CHF <%= booking.price%>.-</p>
            <div class="row justify-content-center mt-3">
              <a href="#" class="btn-straight mx-2">Modifier</a>
              <a href="#" class="btn-straight mx-2">Annuler</a>
            </div>

          </div>
          <%# <% if booking.status == "pending" %>
          <%#<%= link_to "Cancel booking", booking_path(booking), data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-primary" %>
          <%# <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
