<div class="container">
  <div class="container">
    <h1>Informations</h1>
  </div>
  <div class="container">
    <div class="container">
      <p>Sélectionnez les dates qui vous intéressent</p>
    </div>
    <div class="container">
      <%= simple_form_for @booking do |f|%>
        <%= f.input :date, as: :date, html5: true %>
        <%= f.input :street %>
        <%= f.input :city %>
        <%= f.input :zip %>
        <div class="container">
          <p>sélectionnez les options qui vous intéressent</p>
          <%= f.collection_check_boxes :item_ids, @items, :id, :name %>
        </div>
        <div class="container">
          <p>ce que vous pourrez voir ce soir là</p>
        </div>
        <div class="container">
          <p>card tonight highlight</p>
        </div>
        <%= f.submit :suivant %>
      <% end %>
    </div>
  </div>
