<div class="container">
  <div class="container">
    <h2 CLASS="text-shadow" Style="font-size: 3rem">RESERVATION</h2>
  </div>
  <div class="container">
    <div class="container text-center">
      <p>Sélectionnez les dates qui vous intéressent</p>
    </div>
    <div class="observation-plan-card px-4 py-4 mb-4">
      <%= simple_form_for @booking do |f|%>
        <%= f.input :date, as: :date, html5: true %>
        <%= f.input :street %>
        <%= f.input :city %>
        <%= f.input :zip %>
      </div>
      <div class="observation-plan-card px-4 py-4 mb-4">
        <p>Sélectionnez les options qui vous intéressent</p>
        <%= f.collection_check_boxes :item_ids, @items, :id, :name do |b| %>
          <div>
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
      </div>
      <div class="container mb-4">
        <%= f.submit :Suivant, class: 'btn-straight'%>
      <% end %>
    </div>
  </div>
